#page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*============================= Left Section ===================================-*/
#left{
    background-color: rgb(159, 179, 245);
}

h1 {
    text-align: center;
}

pre {
    padding: 3%;
    margin-left: 10%;
    font-size: 30px;
}

#wrongl {
    padding-left: 10%;
    font-size: 20px;
    color: red;
}
/*----------Form for the Letter ---------------*/
form {
    text-align: center;
}

/* --- Input from the form --- */
input {
    width: 10px;
}

#input{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    border: 2px solid black;
}

/*============================= Right Section =================================*/
#right{
    background-color: #ddd;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 500px;
}



.picture {
}